* {
  margin: 0;
  padding: 0;
}

body {
    background-image: url(../../asset/bg/pattern-dark.png);
}

header {
    height: 3em;
    background-color: black;
    box-shadow: 0 5px 5em rgba(141, 141, 141, 0.514);
}

header img {
    width: 3em;
}

header a {
    color: aliceblue;
    text-decoration: none;
}

.main {
    margin: 2em 3em;
    background-color: rgb(48, 53, 53);
    padding: 2em 5em;
    box-sizing: border-box;
    width: 70%;
    border-radius: 3em;
    box-shadow: 0 0 .3em .3em rgba(177, 177, 177, 0.719);
}

.judul {
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    margin: 2em 0;
}

.form {
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

.form button {
    padding: .5em 2em;
    border-radius: 1em;
    box-shadow: .2em .2em .2em rgba(112, 112, 112, 0.719);
}

footer, footer a {
    background-color: black;
    height: 1.8em;
    line-height: 1.8em;
    text-align: center;
    color: aliceblue;
}